<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>About</title>
    <link rel="stylesheet" href="css/styles.css" />
    <link rel="icon" href="/img/weather.png">

  </head>
  <body>
    <div class="main-content">
      {{>header}}
      <p>This site was created by 01Blu3.</p>
      <p> It uses data from Mapbox.com and the weatherstack API</p>
      <img class="portrait" src="img/M200-haii.png" alt="Github profile picture" />
      {{>footer}}  
    </div>

  </body>
</html>
