<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <title>Help</title>
    <link rel="icon" href="/img/weather.png">
    <link rel='stylesheet' href='css/styles.css' />
  </head>
  <body>
    <div class="main-content">
      {{>header}}
    <ol>
      <li>
        {{q1}}
      </li>
      --
      {{a1}}
    </ol>
    </div>
    {{>footer}}
  </body>
</html>